{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">

    {% if app.user.activate %} {# Ici, on utilise une variable gobale de twig #}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a> {# { app.user.userIdentifier }} variable globale qui permet de récup l'adresse mail du user #}
        </div>
    {% endif %}

    <div class="card mx-auto w-50 bg-light bg-gradient mt-5">
        <div class="w-75 mx-auto">
            <h1 class="text-center mt-5 mb-5">Connexion</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
        
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <div class="w-25 mx-auto">
                <button class="btn btn-success mt-5 mb-5 mx-auto" type="submit">
                    Connexion
                </button>
            </div>
        </div>
    </div>
    {% if error %}
        <div class="alert alert-dismissible alert-danger w-50 mx-auto mt-5 text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if message %}
        <div class="alert alert-dismissible alert-danger w-50 mx-auto mt-5 text-center">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{{ message }}</strong>
        </div>
    {% endif %}
</form>
{% endblock %}
